<div class="imput-componet">
    <div class="form">
        <label for="url">Ingrese una url</label>
        <input type="text" 
                id="url" 
                [(ngModel)]="url"
                placeholder="url"
                (keyup.enter)="getUrl()">
        <div class="form-footer">
            <p class="msj-error" [ngClass]="{ 'error-visible': _shortUrl.isError || _shortUrl.isVoid }" >{{msjError}}</p>
            <button (click)="getUrl()">Acortar</button>
        </div>
    </div>
</div>