<div class="sidebar">
    <h2>Historial</h2>
    <ol>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
        <li>
            <span class="url-origin">http://legadodetlapa.com.mx/montana...</span>
            <span class="url-short">https://bit.ly/3eXHZj4</span>
        </li>
    </ol>
</div>
